.nav {
	height: 10vh;
	// position: fixed;
	justify-content: flex-start;
	// margin: 0 20px;
	// max-width: 310px;
	padding: 0 35px;
	@include breakpoint(up,lg) {
		padding: 0;
	}
	&__logo {
		width: 30%;
		h4 {
			margin-bottom: 0;
		}
		a {
			color: black;
			&:hover {
				color: rgb(27, 22, 22);
			}
		}
	}

	&__links {
		width: 70%;
		padding-right: 20px;
		overflow-y: hidden;
		a {
			transition: all 0.5s ease;
			margin-right: 10px;
			color: black;
			&:hover {
				color: rgb(27, 22, 22);
			}
		}
	}
}
