h1 {
  line-height: 1em;
  font-size: 1.8em;
}

h2 {
  line-height: 1em;
  font-size: 1.5em;
}

h3 {
  line-height: 1em;
  font-size: 1.3em;
}

h4 {
  line-height: 1em;
  font-size: 1.2em;
}

p {
  line-height: 1em;
  font-size: 0.9em;
}