$sm: 576px; // Mobile
$md: 768px; // Tablet - Portrait
$lg: 1024px; // Tablet - Landscape
$xl: 1440px; // Large Desktop
$xxl: 1920px; // Larger Desktop

@mixin breakpoint($direction, $size) {
	@if $size=='sm' {
		$size: $sm;
	} @else if $size=='md' {
		$size: $md;
	} @else if $size=='lg' {
		$size: $lg;
	} @else if $size=='xl' {
		$size: $xl;
	} @else if $size=='xxl' {
		$size: $xxl;
	}

	@if $direction=='up' {
		$direction: 'min-width';
	} @else if $direction=='down' {
		$direction: 'max-width';
		$size: $size - 1;
	}

	// Now for the actual content!
	@media ($direction: $size) {
		@content;
	}
}

.wrap {
	display: flex;
	// @media screen and(min-width: 768px) {
	padding: 0 calc((100vw - 560px) / 2);
	margin: 0 auto;
	@include breakpoint(up,sm) {
		padding: 0 calc((100vw - 1024px) / 2);
	}
	@include breakpoint(up,md) {
		justify-content: flex-end;
		align-items: flex-end;
		padding: 0 calc((100vw - 1200px) / 2);
	}
	// }
}
