.nav {
	height: 10vh;
	// position: fixed;
	justify-content: flex-start;
	margin: 0 20px;
	&__logo {
		width: 30%;

		a {
			color: black;
			&:hover {
				color: rgb(27, 22, 22);
			}
		}
	}

	&__links {
		width: 70%;
		padding-right: 20px;
		a {
			margin-right: 10px;
			color: black;
			&:hover {
				color: rgb(27, 22, 22);
			}
		}
	}
}
