.post {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column-reverse;
	@media screen and (min-width: 768px) {
		flex-direction: row;
	}
	&:not(:first-child) {
		margin-top: 6vh;
	}
	&:nth-child(odd) {
		flex-direction: column-reverse;
		@media screen and (min-width: 768px) {
			flex-direction: row-reverse;
		}
		.post__block {
			p {
				right: unset;
				left: 0;
			}
		}
		&:hover {
			.post__block {
				&::after {
					left: 40%;
					@media screen and (min-width: 768px) {
						left: 50%;
					}
				}
			}
		}
		.post__link {
			padding: 20px 0 15px 0;
			@media screen and (min-width: 768px) {
				padding: 20px 20px 15px 0;
			}
			display: flex;
			justify-content: flex-end;

			align-items: flex-start;
		}
	}

	&:hover {
		.post__block {
			p {
				bottom: 0;
			}

			&::after {
				// width: 0;
				left: -40%;
				@media screen and (min-width: 768px) {
					left: -50%;
				}
			}
		}

		.post__link {
			.heading,
			.description {
				h1,
				h3 {
					&:first-child {
						transform: translate3d(0, -110%, 0);
					}

					&:last-child {
						text-decoration: underline;
						transform: translate3d(0, 0%, 0);
					}
				}
			}
		}
	}
	&__block {
		position: relative;
		overflow: hidden;
		width: 100%;
		margin: 15px 0;
		height: 4vh;
		@media screen and (min-width: 768px) {
			height: 15vh;
			width: 50%;
			margin: 20px 0;
		}
		@media screen and (min-width: 1024px) {
			width: 70%;
		}
		p {
			position: absolute;
			bottom: -20px;
			transition: all ease 0.65s;
			// transition-delay: 0.4s;
			margin: 0;
			right: 0;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #262626;
			transition: all ease-out 0.4s;
		}
	}
	&__link {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px 0 15px 0;
		color: rgb(32, 31, 31);
		text-decoration: none;
		width: 100%;
		@media screen and (min-width: 768px) {
			padding: 20px 0 15px 20px;
			width: 50%;
		}
		@media screen and (min-width: 1024px) {
			width: 30%;
		}
		.heading {
			position: relative;
			overflow: hidden;
			margin-bottom: 5px;
			height: 22px;
			@media screen and (min-width: 768px) {
				height: 29px;
			}
			h1 {
				transition: all .5s ease;
				transition-delay: 0.1s;
				margin-bottom: 2px;
				&:first-child {
					transform: translateZ(0);
				}
				&:last-child {
					position: absolute;
					transform: translate3d(0, 110%, 0);
					top: 0;
				}
			}
		}

		.description {
			position: relative;
			overflow: hidden;
			height: 17px;
			@media screen and (min-width: 768px) {
				height: 22px;
			}
			h3 {
				transition: all .5s ease;
				transition-delay: 0.15s;
				margin-bottom: 2px;
				&:first-child {
					transform: translateZ(0);
				}
				&:last-child {
					position: absolute;
					transform: translate3d(0, 110%, 0);
					top: 0;
				}
			}
		}

		h3 {
			margin-bottom: 0;
		}
		&:active {
			color: none;
		}
		&:hover {
			color: black;
			text-decoration: none;
		}
	}
}
