.post {
	&__link {
		@media screen and (min-width: 1024px) {
			width: 40%;
			padding: 30px;
		}
		display: inline-block;
		text-decoration: none;
		color: rgb(32, 31, 31);
		&:active {
			color: none;
		}

		&:hover {
			color: black;
			text-decoration: none;
		}

	}
}
