h1 {
	line-height: 1em;
	font-size: 1em;
	margin-bottom: 0.5em;
	@include breakpoint(up,md) {
		font-size: 1.5em;
		line-height: 1.2;
	}
}

h2 {
	line-height: 1em;
	font-size: 1.07em;
	@include breakpoint(up,md) {
		font-size: 1.5em;
	}
}

h3 {
	line-height: 1em;
	font-size: 1.05em;
	@include breakpoint(up,md) {
		font-size: 1.25em;
	}
}

h4 {
	line-height: 1em;
	font-size: 1.02em;
	@include breakpoint(up,md) {
		font-size: 1.2em;
	}
}

p {
	line-height: 1em;
	font-size: 0.6em;
	@include breakpoint(up,md) {
		font-size: 0.9em;
		line-height: 1.4em;
	}
}
