main {
	margin: 0 20px;
}

.wrap {
	display: flex;
	margin: 0 auto;
	@include breakpoint(up,md) {
		max-width: 560px;
	}

	@include breakpoint(up,lg) {
		max-width: 1200px;
	}

	@include breakpoint(up,xl) {
		max-width: 1400px;
	}

	&.flex-end {
		@include breakpoint(up,md) {
			justify-content: flex-end;
			align-items: flex-end;
			// padding: 0 calc((100vw - 1200px) / 2);
		}
	}
	// }
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}
